<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="https://apis.google.com/js/api.js"></script>
    <script async src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script> -->
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="/scripts/init.js"></script>
    <script src="/scripts/login.js"></script>

</head>

<body>
    <h1>Login page</h1>
    <button id="loginBtn">Login</button>
</body>

</html>